__pycache__
users.json
schedule.json
json/students.json
json/schedule_2sem.json
test_json
json_remake
script.py
nohup.out
config.yaml
old_files/
yaml_groups/*
!yaml_groups/202.yaml
main_yaml_groups/*
.env
1 курс весна 2025.xlsx
2 курс весна 2025.xls
Новая таблица - 1 курс весна 2025 copy.csv
Новая таблица - 1 курс весна 2025.csv
Новая таблица - 2 курс весна 2025 copy.csv
Новая таблица - 2 курс весна 2025.csv
schedule copy.sql
